/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.white-font {
  color: #ffffff;
}

.mm-navbar {
    background: #fc5b62;
}

.hero_in {
    height: 250px;
}

.hero_in.tours_detail {
    height: 400px;
}

.secondary_nav.sticky_horizontal li:last-child {
    display: initial;
}

#login figure img {
    width: auto;
}

#register_bg {
    background: url(https://inbound.citius.in/assets/front-end/img/DSC_2894.jpg);
}

/* ---- Flexslider mixed height fix ----- */
/* Set Max heights  on containers and img elements */

@media (min-width:421px){
    
}

/* Make images autofit to max-height property, and center both vertically and horizontally with transform */
.flexslider .slides img {
    height: 500px;
    object-fit: cover;
}
.flex-viewport {
    height: 500px;
}
.sticky-cab {
    position: absolute;
    z-index: 999999;
    right: 103px;
    bottom: 85px;
}

@media (max-width:786px){
    .sticky-cab {
        position: absolute;
        z-index: 999999;
        right: initial;
        bottom: 95px;
    }
}
/* --- End Flexslider solution -- */

.box_grid .wrapper p {
	margin-bottom: 0;
}

.booking select {
	height:45px  !important;
	display:block;
}

.hotel-star .btn_photos {
	left: 120px !important;
}


/* Video Normalization */
video {
	opacity: 0.9;	
}


/* Profile container */
.profile {
  /*margin: 20px 0;*/
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
display: block;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
-webkit-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
-moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
box-shadow: 0px 3px 0px 0px #f0f2f4;
color: #555;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  /*text-transform: uppercase;*/
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu .nav {
	display: block;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  display:block;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 8px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 420px;
	display: block;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
	-moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
	box-shadow: 0px 3px 0px 0px #f0f2f4;
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.uppercase {
    text-transform: uppercase!important;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}
.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}
.margin-top-20 {
    margin-top: 20px!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}

#page {
 margin-top: 92px;
} 

@media (max-width: 767px) {
  #logo img {
    width: auto;
    height: 30px;
    margin: 1px 0 0 -30px;
  }  

  #page {
   margin-top: 51px;
  } 
}



.package-ad-wrapper {
        position: relative;
        z-index: 99999;
        top: -55px;
      }

      .package-ad {
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        height: 105px;
        background: #fff;
      }

      .package-ad .thumb {
        display: inline-block;
         float: left; 
      }

      .package-ad .thumb img {
        width: 155px;
        height: 100%;
        object-fit: cover;
      }

      .package-ad .package-details {
        padding-top: 19px;

        display: inline-block;
        padding: 10px;
        clear: both;
        position: absolute;
        top: 0;
      } 

      .package-ad .package-details h6 {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      } 

      .package-ad .package-details p {
        margin: 0;
        font-size: 12px;
        color: #444444;
      }

      /*
        Let`s normalize something 
      */

      @media only screen and (max-width: 768px) {

        body {
          overflow-x: hidden;
        }
        .package-ad-wrapper {
          /*top: -105px;*/
        }
        .package-ad {
          height: initial;
        }
        .package-ad .thumb,
        .package-ad .package-details {
          display: block;
        }

        .package-ad .package-details {
          top: 0px;
          position: initial;
        }

        .package-ad .thumb img {
          width: 100% !important;
        }
      }



header.header {
    background-color: #ea1910 /*#efd5ce  #fff*/;
  }

  @media only screen and (min-width: 992px){
    .main-menu > ul > li span > a {
      color: #5d5d5d;
    }
  }


  #menu li.active a {
    font-weight: 500;
    color: #ffffff;
  }

  #menu li a {
    font-weight: 500;
    color: #ffffff;
  }

  ul#top_menu li a {
    color: #5d5d5d;
  }


  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #5a5858;
  }


  #description ul, #description ol {
    list-style-type: decimal;
  }






  /* Tabs - rK - 28-Mar-2019 */
.custom-tabs .nav-tabs {
  border-bottom: 2px solid #DDD;
}
.custom-tabs .nav-tabs .nav-item.show .nav-link, .custom-tabs .nav-tabs .nav-link.active {
  border-radius: .25rem .25rem 0px 0px;
}

.custom-tabs .nav-tabs>li.active>a,
.custom-tabs .nav-tabs>li.active>a:focus,
.custom-tabs .nav-tabs>li.active>a:hover {
  border-width: 0;
}

.custom-tabs .nav-tabs>li>a {
  border: none;
  color: #fc5b62;
  background: #fff;
}

.custom-tabs .nav-tabs>li>a.active,
.custom-tabs .nav-tabs>li>a:hover {
  border: none;
  color: #ffffff;
  background: #fc5b62;
}

.custom-tabs .nav-tabs>li>a::after {
  content: "";
  background: #fc5b62;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.custom-tabs .nav-tabs>li.active>a::after,
.custom-tabs .nav-tabs>li:hover>a::after {
  transform: scale(1);
}

.custom-tabs .tab-nav>li>a::after {
  background: #fc5b62 none repeat scroll 0% 0%;
  color: #fff;
}

.custom-tabs .tab-content {
  padding: 15px
}

.custom-tabs .nav-tabs>li {
  width: 20%;
  text-align: center;
}

.custom-tabs {
  background: #fff none repeat scroll 0% 0%;
  border: 1px solid #ededed;
}

#add-on hr {
  margin: 18px 0 10px 0; }

#add-on .types {
  font-size: 19px;
  letter-spacing: 0px;
  /*font-weight: 800;*/
  font-weight: 500;
}



@media all and (max-width:724px) {
  .custom-tabs .nav-tabs>li>a>span {
    display: none;
  }

  .custom-tabs .nav-tabs>li>a {
    padding: 5px 5px;
  }
}


 .slider-form {
      position: absolute;
      bottom: 240px;
      left: 0px;
      width: 100%;
      z-index: 99999;
    }

 
    @media (max-width: 768px) {
     .ls-container, .ls-slide  {
        /*width: 100% !important;
        height: 63vh !important;*/
        /*background-position: 0 0 !important;
        background-size: cover !important;*/
       /* margin-left: 0px !important;
        margin-top: 0px !important;*/
      }
      
      .slider-form {
            bottom: 9px;
      }



    .mobile-meta {
      text-align: center;
    }
    .mobile-meta .first {
      display: block;
        margin-bottom: 15px;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 5px;
    }
    .mobile-meta .second{
      display: block;
        float: none !important;
    }

    }


    @media (max-width: 767px) {
    .ls-slide {
      height: 95vh !important;
      width: 100vw !important;
    }
  }



    /*
      Background Remover
    */
    body {
      background: none;
      background: url('../../uploads/banners/background-home.jpg');
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

     @media (max-width: 767px) {
      body {
        background: url('../../uploads/banners/mobile-bg.png');
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        }
    }

    main {
      background: none !important;

      /*If logo is centered*/
      margin-top: -7px;
    }

    .bg_color_1 {
      background-color: none !important;
      background: none;
      color: #380308;
      font-weight: 500;
    }

    body:before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.51);
    }
    /*****  Background remover *******/





    /* brochure */
    .info .many-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      
      
      .grid_item .read_more {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
      }
      
      .grid_item .read_more span {
        background-color: #fcfcfc;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        display: inline-block;
        color: #222;
        font-size: 12px;
        font-size: 0.75rem;
        padding: 5px 10px;
      }
      .grid_item:hover .read_more {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }




.info .many-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      
      
      .grid_item .read_more {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
      }
      
      .grid_item .read_more span {
        background-color: #fcfcfc;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        display: inline-block;
        color: #222;
        font-size: 12px;
        font-size: 0.75rem;
        padding: 5px 10px;
      }
      .grid_item:hover .read_more {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }



.description {
  color : #380308;
  font-weight: 500;
}

.star-rate {
  font-size: 16px;
  font-weight: 500;
}

.star-rate i {
  font-size: 12px;
  position: relative;
  bottom: 1px;
}

.img-fluid {
  border-radius: 5%;
}


/*
  Word Clamp
*/

.owl-item .box_grid .wrapper p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
  

.social-icon {
  color: white;
}



#brochurediv {
      position: fixed;
      z-index: 9999;
      right: 0px;
      top: 100px;
      width: 117px;
    }
    
    #brochurediv img {
      width: 120px;
    }

    @media (max-width: 767px) {
      .mobile-brochurediv {
        display: block !important;
        position: fixed !important;
        right: 0px !important;
        left: 0;
        width: 100% !important;
        text-align: center;
        bottom: 0;
        top: inherit !important;
        transition: ease all 400ms;
      }
      
      #brochurediv {
        display: none;
        transition: ease display 400ms;
      }
    }


#carousel-partners2 .item a.box_feat {
  position: relative;
  display: block;
  background: #dfdede;
  padding: 10px;
  height: 90px;
  text-align: center;
}

#carousel-partners2 .item a.box_feat img {
  max-width: 100%;
  height: auto;
  text-align: center;
  width: initial;
  vertical-align: middle;
}



.city-img {float: left;}
.city-img img {
width: 300px;
margin-right: 20px;
}
.city-writeup {
text-align: justify;
}
.sui-treeview .sui-treeview-item-text {
font-family: Poppins !important;
}

.sui-treeview-item-active>.sui-treeview-item-content>.sui-treeview-item-text, .sui-treeview-item-active>.sui-treeview-item-content>.sui-treeview-item-text:hover, .sui-treeview-focus .sui-treeview-item-active>.sui-treeview-item-content>.sui-treeview-item-text, .sui-treeview-focus .sui-treeview-item-active>.sui-treeview-item-content>.sui-treeview-item-text:hover {
color: #fff;
background-color: #fc5b62;
padding: 2px 20px;
border-radius: 2px;
}

.sui-treeview-item-text:hover {
color: #fff;
background-color: #f5868b;
}

.sui-treeview-list, ul.sui-treeview-list {
list-style: none;
margin: 0;
padding: 0;
outline: 0;
padding-left: 16px;
border-left: 1px solid #f8f8f8;
}
.sui-treeview-item-text {font-size: 16px;}